html
    head
        a(href="/") Go back to the home page
        | #{" "} | 
        a(href="/artworks") View list of all artworks
        br

        title Gallery of Artworks
        div#main-heading
            h1 Artworks categorized by their author/artist  
        link(rel="stylesheet", href="/style.css")

    body
        div#sub-heading
            h2 Click on any links below to view the artworks of different artists!
        div#left-right-grid
            div#left
                ol
                    each artist in pugData 
                        li
                            a(href=`/users/artists/${artist}`) #{artist}