html
    head
        a(href="/") Go back to the home page
        | #{" "} | 
        a(href="/artworks") View list of all artworks
        br

        title Gallery of Artworks
        h1 Welcome to the gallery of different artworks at XNN Art Gallery
        link(rel="stylesheet", href="/style.css")

    body
        h2 Click on any links below to view the artworks of different artists!

        div#left
            ol
                each artist in pugData 
                    li
                        a(href=`/users/artists/${artist}`) #{artist}