html
    head
        a(href="/") Go back to the home page
        | #{" "} |
        a(href="/users/artists") See list of artists
        br

        title Gallery of Artworks
        div#main-heading
            h1 Welcome to the gallery of different artworks at XNN Art Gallery
        link(rel="stylesheet", href="/style.css")

    body
        div#sub-heading
            h2 Click on any links below to view different artworks at our gallery!
        div#left-right-grid
            div#left
                ol
                    each artwork in pugData
                        li
                            a(href=`/artworks/${artwork["_id"]}`) #{artwork["Title"]}