html
    head
        a(href="/") Go back to the home page
        | #{" "} | 

        title Gallery of Artworks
        h1 Welcome to the gallery of different artworks at XNN Art Gallery
        link(rel="stylesheet", href="/style.css")

    body
        h2 Click on any links below to view different artworks at our gallery!

        div#left
            ol
                each artwork in pugData
                    li
                        a(href=`/artworks/${artwork["_id"]}`) #{artwork["Title"]}
