html
    head
        title XNN Art Gallery
        h1 Welcome to XNN Art Gallery's Home page
        link(rel="stylesheet", href="/style.css")

    body
        h2 Click on these links below to explore XNN Art Gallery!

        div#left
            a(href="/artworks") Go to the art gallery to view all of the artworks
            br
            br

        img(id="hpImage" src="images/IMG_7207.JPG", alt="home_page_image")
