html
    head
        title Login page - XNN Art Gallery
        link(rel="stylesheet", href="/style.css")
        script(src="/js/register.js")

    body
        div#middle
            h1(style="margin-left:2vw; top:auto; text-align:center;") XNN ART GALLERY 
            h2(style="margin-left:1vw; top:1vh; text-align:center;") User registration to access information from XNN Art Gallery
        div#registrationForm
            label(for="fullName") <strong>Full Name</strong>: #{" "}
            input(type="text" id="fullName" name="fullName")
            br
                label(for="password") <strong>Password</strong>: #{" "} 
                input(type="password" id="password" name="password")
                br
                button(type="button" id= "loginButton" onclick="login()") Log in
                | #{" "}
                button(type="button" id= "signUpButton" onclick="register()") Register new account