html
    head
        a(href="/") Go to the home page 
        | #{" "} |
        br

        title Welcome to your account 
        h1 Hello ! 
        link(rel="stylesheet", href="/style.css")

    body
        