html
    head
        title Welcome to your account
        div#main-heading 
            h1 Hello #{pugData}! Here is your account information
        link(rel="stylesheet", href="/style.css")

    body
        div#sub-heading
            h2 Use the links below to explore your user account or to access the home page of XNN Art Gallery
        div#left-right-grid
            div#left
                a(href="/") Go to the home page 
