body {
    font-family: American Typewriter, serif;
    background-color: rgb(195, 230, 245);
    line-height: 1.75; 
    color: rgb(52, 51, 51);
}

p {
    font-size: large;
}

a {
    font-size: large;
    color: rgb(47, 79, 90);
}

h1 {
    position: relative;
    left: 1%;
    color: rgb(149, 61, 91);
    font-size: 50px;
    width: 60%; 
    line-height: 140%;
}

h2 {
    position: relative;
    left: 1%;
    color: rgb(79, 97, 66);
    font-size: x-large;
    width:  60%; 
}

#hpImage {
    position: absolute;
    top: 0;
    float: right;
    right: 2%;
    width: 70%; 
    border: 8px solid rgb(120,134,107);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px rgba(138, 136, 136, 0.794);
}

#artIllustration {
    position: relative;
    width:  100%;
}

#left {
    position: relative;
    left: 5%;
    width:  55%; 
    line-height: 300%;
}

#right {
    position: relative;
    top: -46%;
    float: right;
    width:  45%; 
    line-height: 300%;
}

#middle {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#registrationForm {
    position: relative;
    left: 34%;
    width:  30%;
    top: -5%;
    height: auto;
    font-size: large;
    text-align: center;
    padding: 40px 0;
    border: 10px solid rgb(120,134,107);
    background-color:  rgb(182, 199, 163);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px rgba(138, 136, 136, 0.794);
    color: rgb(52, 51, 51);
    line-height: 300%;
}

#loginButton, #signUpButton {
    position:  relative;
    font-size: 16px;
    top: 10px;
    border-radius: 8px;
    height: auto;
    font-family: American Typewriter, serif;
    border: 5px solid rgb(120,134,107);
    background-color: rgb(182, 199, 163);
    color: rgb(52, 51, 51);
    margin-top: 10px;
}

#loginButton:hover, #signUpButton:hover {
    font-family: American Typewriter, serif;
    border: 5px solid rgb(183, 160, 168);
    background-color: rgb(255, 227, 237);
    color: #ffffff;
}
